@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    background-color: #fafafa;
    opacity: 0.95;
    font-family: Lexend, Poppins, sans-serif;
    width: 100vw;
    min-height: 100vh;
    scroll-behavior: smooth;
    scrollbar-width: none;
}


.mid {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    width: 100%;
    font-size: 20px;
    margin-left: 12px;
}

nav {
    height: 60px;
    width: 100%;
}

nav ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
    gap: 10px;
}

nav ul li a {
    color: black;
    padding: 10px;
    font-weight: 400;
    font-size: 18px;
    border-radius: 8px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: black;
    color: white;
    transition: 0.5;
}

.menu {
    font-size: 30px;
    color: #333335;
    float: right;
    line-height: 80px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.container {
    width: 100%;
    height: 380px;
    background-color: #333335;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one,
.two {
    width: 100%;
    height: 100%;
}

.one h1 {
    font-size: 40px;
    font-weight: 600;
    color: #ffff;
    margin: 100px 0px 0px 28px;
}

.one h2 {
    font-weight: 200;
    color: #ffff;
    font-size: 22px;
    margin: 12px 0 0 28px;
}

.one button {
    width: 150px;
    height: 40px;
    color: #333335;
    background-color: #ffff;
    font-family: Lexend, Poppins;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    margin: 12px 0 0 28px;
    cursor: pointer;
}

.one button:hover {
    background-color: #565656;
    color: #ffff;
}

.two img {
    float: right;
    height: auto;
    object-fit: contain;
}


.content h1 {
    text-align: center;
    font-weight: 600;
    margin-top: 30px;
}

.odd,
.even {
    width: 100%;
    height: 300px;
    display: flex;
    padding: 30px;
}

.even {
    flex-direction: row-reverse;
}

.even .text {
    margin-left: 135px;
}

.odd .text {
    margin-left: 220px;
}

.odd img {
    width: 150px;
    height: 150px;
}

.even img {
    width: 150px;
    height: 150px;
}

.text,
.img {
    width: 50%;
}

.text h1 {
    font-size: 24px;
    text-align: left;
    margin-bottom: 8px;
}

.text h2 {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 8px;
}

.text h3 {
    font-size: 16px;
}

.box {
    width: 100%;
    height: 400px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box h1 {
    margin-bottom: 12px;
}

.box p {
    font-size: 18px;
}

.box button {
    width: 150px;
    height: 40px;
    color: #fff;
    background-color: #333335;
    font-family: Lexend, Poppins;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    margin: 12px 0 0 28px;
    cursor: pointer;
}

.box button:hover {
    background-color: #565656;
}


.review h1 {
    margin-bottom: 50px;
}

.re-one {
    width: 100%;
    height: 100%;
    display: grid;
    padding: 30px;
    grid-template-columns: repeat(auto-fit, minmax(480px, 0.9fr));
    gap: 10px;
    justify-content: center;
}

.cust {
    height: max-content;
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    border-radius: 20px;
    padding: 20px;
}

.image {
    display: flex;
}

.image img {
    width: 80px;
    height: 80px;
    padding: 10px;
    border-radius: 50%;
}

.name {
    margin-left: 12px;
}

.name h2 {
    font-size: 18px;
    margin-top: 12px;
}

.name h3 {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 8px;
}

.stars i {
    color: #FFDF00;
}

.comment h1 {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 12px;
    padding: 4px;
}

.info {
    width: 100%;
    height: max-content;
    background-color: #ffff;
    margin-top: 80px;
    padding: 10px;
    margin-bottom: 50px;
}

.info h1 {
    text-align: center;
    margin-top: 30px;
}

.expert {
    display: flex;
    margin-top: 40px;
    margin-bottom: 50px;
}

.photo {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.photo img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.details h1 {
    font-size: 28px;
    text-align: left;
}

.details h2 {
    font-size: 20px;
    font-weight: 300;
    text-align: left;
}

.icons img {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-left: 12px;
}


footer {
    width: 100%;
    height: 50px;
    background-color: #333335;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

footer h1 {
    text-align: center;
    color: #fff;
    font-size: 18px;
}

@media (max-width: 858px) {
    .menu {
        display: block;
        cursor: pointer;
        align-self: center;
    }

    nav {
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #fafafa;
        top: 60px;
        left: -100%;
        transition: all 0.5s ease;
        text-align: center;
        flex-direction: column;
        justify-content: center;
    }

    nav ul li {
        display: block;
        margin: 30px 0;
    }

    nav ul li a {
        font-size: 20px;
    }

    nav input[type="checkbox"]:checked~ul {
        left: 0;
    }

    header h1 {
        font-size: 18px;
        text-align: center;
    }

    /*  */
    .container{
        opacity: 90%;
    }
    .one {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url(sample-removebg-preview.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .one h1 {
        text-align: center;
    }

    .two {
        display: none;
    }

    .equi {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .odd,
    .even {
        width: 80%;
        height: max-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        background-color: #fff;
        border-radius: 12px;
        box-shadow: 2px 4px 24px rgb(210, 210, 210);
    }

    .img {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text h1 {
        text-align: center;
        margin-left: -100px;
    }

    .text h2 {
        text-align: center;
        margin-left: -100px;
    }

    .odd .text {
        width: 100%;
        margin-left: 100px;
    }

    .even .text {
        width: 100%;
        margin-left: 100px;
    }
    .expert {
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .photo img{
        width: 180px;
        height: 180px;
        border: 14px solid rgb(210, 210, 210);
        box-shadow: 2px 2px 18px rgb(210, 210, 210);
    }
    .details h1{
        text-align: center;
        font-size: 18px;
    }
    .details h2{
        text-align: center;
        font-size: 14px;
    }
    .icons{
        display: flex;
        justify-content: center;
    }
    .icons img{
        width: 25px;
        height: 25px;
    }
    footer h1{
        font-size: 14px;
    }

}